# ignore all data file
data/*
code/data-cleaning/canbind_data/
code/data-cleaning/__pycache__/stard_globals.cpython-36.pyc
code/data-cleaning/__pycache__/utils.cpython-36.pyc
code/data-cleaning/__pycache__/canbind_globals.cpython-36.pyc
code/data-cleaning/stard_data/X_lvl2_rem_qids01__stringent.csv
code/data-cleaning/stard_data/stard-overlapping-X-data.csv
code/data-cleaning/stard_data/
code/data-cleaning/compare_matrices_output_an.xlsx
code/data-cleaning/analyze_stard_output.csv
code/data-cleaning/final_datasets/
results/*
